{% extends 'base.html.twig' %}

{% block title %}
	Urban Padel - Login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('css/login.css')}}"></link>
{% endblock %}

{% block body %}
{% include "header.html.twig" %}
<div class="container w-100 h-100">
	<div class="row w-100 h-100 mx-auto">
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 mx-auto my-auto text-center">
			<p>LOGO</p>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 mx-auto">
			<form action="{{path('app_login')}}" method="POST">
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Email</label>
						<input class="form-control" id="email" value="{{ last_username }}" name="email" type="email"
							placeholder="Email" required="required" autofocus>
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Contraseña</label>
						<input class="form-control" id="password" name="password" type="password"
							placeholder="Contraseña" required="required">
						<p class="help-block text-danger"></p>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="remember-me" name="_remember_me">
					<label class="custom-control-label" for="remember-me">Recordarme</label>
				</div>
				{% if error %}
				<div class="form-group d-flex justify-content-center">
					<p class="text-danger">Usuario o Contraseña incorrectos</p>
				</div>
				{% endif %}
				<div class="form-group d-flex justify-content-center">
					<button type="submit" class="btn btn-primary btn-xl w-50" id="loginButton">
						<i class="fas fa-sync-alt"></i>
						<span>Entrar</span>
					</button>
				</div>
				<div class="control-group d-flex justify-content-center">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>¿No tienes cuenta?</label>
						<a href="{{ path('user_new') }}">
							<span class="badge badge-success">Regístrate</span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock %}